@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 20px;
}

input[type="text"] {
  font-size: 1em;
  padding: 5px;
  width: 400px;
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  font-size: 1em;
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

code {
  font-size: 1.4em;
}

th, td {
  border: 1px solid #333;
  padding: 5px 10px;
  text-align: center;
}

th {
  background-color: #ddd;
}

.error {
  color: red;
  margin-top: 10px;
}

.normal-forms {
  margin-top: 20px;
  font-size: 1.1em;
}
